@font-face {
    font-family: Public Sans;
    src: url(font/publicsans.ttf);

    font-family: Public Sans Bold;
    src: url(font/publicsansbold.ttf);
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

/* SPECIFICO */
.grey {
    color: rgba(0, 0, 0, 0.4);
}

.bold {
    font-weight: 700;
}
#mtop {
    margin-top: 35px;
}

#mtop1 {
    margin-top: 35px;
}


/* BODY */
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    /* line-height: 20px; */
}

body a {
    text-decoration: none;
    color: black;
}

body a:hover {
    text-decoration: underline;
}


/* GRIGLIA ELEMENTI */
.grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    height: 100vh;
}

.grid_a {
    font-weight: 600;
}

.grid_c {
    grid-column: 2;
    margin-top: -50px;
}

/* SFONDO */
.pallino {
    background-image: url(img/pallinoo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/* NASCONDI */
.about {
    display: none;
}

/* ///////////////// PAGINA PROGETTO ////////////////////// */
/* //////////////////////////////////////////////////////// */
h3 {
    margin-bottom: 8px;
}

article {
    font-weight: 700;
}

.works {
    grid-column: 1 / 3;
}

.img {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.img2 {
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.ordine {
    /* margin-top: 10px; */
    grid-column: 1 / 3;
    justify-self: center;
    justify-items: center;
}

/* FOOTER */
footer{
    margin-top: -30px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
}

.footer p {
    text-align: right;
    font-style: italic;
}

/* PAGINA PROBLEMI */
.scroll {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 700;
    font-size: 1.5rem;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////CAROUSEL/////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */

.carousel {
    position: relative;
    margin-top: 26px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3,
#carousel-4:checked~.control-4,
#carousel-5:checked~.control-5 {
    display: block;
}


/* PALLINI NASCOSTI - INDICATORI */
/* .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: yellow;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
} */

/* #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet {
    color: #428bca;
} */

/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////// */







@media (min-width:900px) {
    .grid_2 {
        padding: 60px;
    }

    body {
        font-size: 14px;
    }

    .works {
        margin-top: -40px;
    }
}

@media (min-width:1100px) {
    #mtop1 {
        margin-top: 200px;
    }

    .grid_2 {
        grid-template-columns: repeat(9, 1fr)
    }

    .grid_b {
        grid-column: 3;
    }

    .grid_c {
        grid-column: 8;
        margin-top: 0px;
    }

    .grid_b,
    .grid_c {
        text-align: right;
    }

    .about_m{
        display: none;
    }

    .about {
        display: block;
        grid-column: 4 / 7;
        margin-top: 85px;
        margin-left: 5px;
    }
    .works{
        margin-right: 10px;
    }

    /* ///////////////// PAGINA PROGETTO ////////////////////// */
    /* //////////////////////////////////////////////////////// */
    .works {
        grid-column: 2 / 5;
        margin-top: 0px;
    }

    .ordine {
        grid-column: 6 / 10;
    }

    .img {
        width: 500px;
    }

    .img2 {
        width: 600px;
    }
    .scroll{
        height: 700px;
        font-size: 2rem;
    }
}