@font-face{
    font-family: Public Sans;
    src: url(font/publicsans.ttf);

    font-family: Public Sans Bold;
    src: url(font/publicsansbold.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
details > summary {
  list-style: none;
}
details:hover{
    cursor: pointer;
}
details[open] summary {
  font-weight: bold;
  text-decoration: underline;
}
#mtop{
    margin-top: 35px;
}
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    height: 900px;
}
.grid_a{
    font-weight: bold;
}
.grid_b{
    text-align: right;
}
/* .pallino{
    background-image: url(img/pallino.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
} */
/* body img{
    max-width: 100%;
    height: auto;
    filter: blur(20px);
} */
/* #circle {
    background: #F5FF00;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    filter: blur(30px);
    margin-left: -600px;
    margin-top: -50px;
} */